---
otero_id: "2-s2.0-85198902510"
title: "Embedded-check a Code Quality Tool for Automatic Firmware Verification"
authors: "Ferrão R.C.; Montagner I.D.S.; Silva M.; Zilles C.; Azevedo R."
year: "2024"
journal: "Annual Conference on Innovation and Technology in Computer Science Education, ITiCSE"
doi: "10.1145/3649217.3653577"
---
# Scopus title-abstract-keyword metadata
Title: Embedded-check a Code Quality Tool for Automatic Firmware Verification
Abstract: Developing embedded microcontroller code is a complex task, especially for undergrad students new to this area. These students often make high-level conceptual mistakes beyond the scope of commercial standards like MISRA-C. These conceptual errors need to be checked manually through code feedback, a process that is time-consuming, error-prone, and does not scale well with an increasing number of students and/or assignments. In this paper, we present an embedded-check an automated tool that can detect common and critical errors students make when learning to code firmware. A set of 13 rules (baremetal and FreeRTOS) was devised based on our experience from several years of teaching Embedded systems. To validate our tool, we compared its results with manual code review of N=99 projects from the last 3 course offerings. We furthered our analysis by running our tool on N=1132 coding lab submissions that did not receive manual feedback and were used as part of classroom activities. We found that the top-3 errors flagged in the projects were already present when students completed the lab activities. We found that (i) our tool also identified all issues discovered during manual code feedback, (ii) our tool detected issues in 86% of student submissions, whereas manual code feedback only flagged 28% of the submissions as problematic, and (iii) 94.3% of students made some code quality error on individual assignments. Within this results, we believe that our tool can have a significant impact when used both as an formative assessment tool to support learning and as a learning analytics tool to improve teaching. © 2024 ACM.
Author keywords: code quality tools; embedded systems; RTOS; static analysis
Index keywords: Errors; Firmware; Quality control; Static analysis; Students; Code quality; Code quality tool; Commercial standards; Complex task; Embedded microcontroller; Embedded-system; Error prones; Manual codes; Quality tools; RTOS; Embedded systems
Document type: Conference paper
Conference: 
Source title: Annual Conference on Innovation and Technology in Computer Science Education, ITiCSE
Year: 2024
EID: 2-s2.0-85198902510
DOI: 10.1145/3649217.3653577
Retrieval channels: authoritative_outlet_search
Local full-text files: 
