---
otero_id: "2-s2.0-85027715159"
title: "Symbolic Model Extraction for Web Application Verification"
authors: "Bocic I.; Bultan T."
year: "2017"
journal: "Proceedings - 2017 IEEE/ACM 39th International Conference on Software Engineering, ICSE 2017"
doi: "10.1109/icse.2017.72"
---
# Scopus title-abstract-keyword metadata
Title: Symbolic Model Extraction for Web Application Verification
Abstract: Modern web applications use complex data models and access control rules which lead to data integrity and access control errors. One approach to find such errors is to use formal verification techniques. However, as a first step, most formal verification techniques require extraction of a formal model which is a difficult problem in itself due to dynamic features of modern languages, and it is typically done either manually, or using ad hoc techniques. In this paper, we present a technique called symbolic model extraction for extracting formal data models from web applications. The key ideas of symbolic model extraction are 1) to use the source language interpreter for model extraction, which enables us to handle dynamic features of the language, 2) to use code instrumentation so that execution of each instrumented piece of code returns the formal model that corresponds to that piece of code, 3) to instrument the code dynamically so that the models of methods that are created at runtime can also be extracted, and 4) to execute both sides of branches during instrumented execution so that all program behaviors can be covered in a single instrumented execution. We implemented the symbolic model extraction technique for the Rails framework and used it to extract data and access control models from web applications. Our experiments demonstrate that symbolic model extraction is scalable and extracts formal models that are precise enough to find bugs in real-world applications without reporting too many false positives. © 2017 IEEE.
Author keywords: Formal Verification; Model Extraction; Web Applications
Index keywords: Access control; Codes (symbols); Extraction; Formal methods; Formal verification; Program interpreters; Software engineering; Access control models; Ad-hoc techniques; Code instrumentation; Dynamic features; Model extraction; Modern languages; Verification techniques; WEB application; Program debugging
Document type: Conference paper
Conference: 
Source title: Proceedings - 2017 IEEE/ACM 39th International Conference on Software Engineering, ICSE 2017
Year: 2017
EID: 2-s2.0-85027715159
DOI: 10.1109/icse.2017.72
Retrieval channels: authoritative_outlet_search
Local full-text files: 
