---
otero_id: "2-s2.0-0035012751"
title: "The second international workshop on automated program analysis, testing and verification"
authors: "Tracey N.; Penix J.; Visser W.C."
year: "2001"
journal: "Proceedings - International Conference on Software Engineering"
doi: "10.1109/icse.2001.919162"
---
# Scopus title-abstract-keyword metadata
Title: The second international workshop on automated program analysis, testing and verification
Abstract: Program analysis, testing and verification are key techniques for building confidence in and increasing the quality of software systems. Such activities typically cost upwards of 50% of total development costs. Automation aims to allow both reduced costs and more thorough analysis, testing and verification and is vital to keep pace with increasing software complexity. This workshop follows on from the successful workshop held as part of ICSE 2000 in Ireland to further discuss these issues and the current start-of-the art.
Author keywords: 
Index keywords: Algorithms; Computer software selection and evaluation; Cost effectiveness; Error detection; Technical presentations; Technology transfer; Automation; Cost benefit analysis; Costs; Quality control; Verification; Automated program analysis testing and verification; Software systems; Static analysis; Development costs; International workshops; Ireland; Program analysis; Program testing; Program Verification; Quality of softwares; Reduced cost; Software complexity; Software-systems; Software engineering; Software testing
Document type: Article
Conference: 
Source title: Proceedings - International Conference on Software Engineering
Year: 2001
EID: 2-s2.0-0035012751
DOI: 10.1109/icse.2001.919162
Retrieval channels: authoritative_outlet_search
Local full-text files: 
