---
otero_id: "2-s2.0-85052058154"
title: "Testing meets static and runtime verification"
authors: "Chimento J.M.; Ahrendt W.; Schneider G."
year: "2018"
journal: "Proceedings - International Conference on Software Engineering"
doi: "10.1145/3193992.3194000"
---
# Scopus title-abstract-keyword metadata
Title: Testing meets static and runtime verification
Abstract: Test driven development (TDD) is a technique where test cases are used to guide the development of a system. This technique introduces several advantages at the time of developing a system, e.g. writing clean code, good coverage for the features of the system, and evolutionary development. In this paper we show how the capabilities of a testing focused development methodology based on TDD and model-based testing, can be enhanced by integrating static and runtime verification into its workflow. Considering that the desired system properties capture data- as well as control-oriented aspects, we integrate TDD with (static) deductive verification as an aid in the development of the data-oriented aspects, and we integrate model-based testing with runtime verification as an aid in the development of the control-oriented aspects. As a result of this integration, the proposed development methodology features the benefits of TDD and model-based testing, enhanced with, for instance, early detection of bugs which may be missed by TDD, regarding data aspects, and the validation of the overall system with respect to the model, regarding the control aspects. © 2018 Association for Computing Machinery.
Author keywords: Java; Runtime Verification; Static Verification; Test driven development
Index keywords: Formal methods; Model checking; Program debugging; Deductive verification; Development methodology; Evolutionary development; Java; Model based testing; Run-time verification; Static verification; Test driven development; Integration testing
Document type: Conference paper
Conference: 
Source title: Proceedings - International Conference on Software Engineering
Year: 2018
EID: 2-s2.0-85052058154
DOI: 10.1145/3193992.3194000
Retrieval channels: authoritative_outlet_search
Local full-text files: 
